*.env
.env
modules/NexureSolutions/Websites/terminal
modules/NexureSolutions/Websites/siteBuilder
license/
license
license/*
installation/encodingGeneration
dashboard/administration/accounts/fileUpload/uploadLogic
CaliUtilitiesBot/
CaliUtilitiesBot/*
error/errorLogs
error/errorLogs/*
vendor/
vendor/*